<!doctype html>
<html>
  <head>
    <%= stylesheet_link_tag "all" %>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
      rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title><%= current_article.title + ' | ' unless current_article.nil? %>ColbyCheeZe</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <div id="main" role="main">
      <%= partial "partials/blog/nav" %>
      <article>
        <%= yield %>
      </article>
      <%= partial "partials/blog/footer" %>

    </div>

  </body>
</html>
