<% wrap_layout :layout do %>
  <div class="grid">
    <section class="blog-content">
      <% if current_article %>
        <article>
          <%= partial "partials/blog/title" %>
          <%= partial "partials/blog/article_widgets" %>
          <div class="body">
            <%= yield %>
          </div>
        </article>
        <section class="disqus">
          <%= disqus %>
        </section>
      <% else %>
        <%= yield %>
      <% end %>
    </section>

    <%= partial "partials/blog/blog_widgets" %>
  </div>
<% end %>
