<% wrap_layout :layout do %>
  <div class="grid">
    <div class="blog-content">
      <article>
        <h1><%= current_article.title %></h1>
        <ul class="meta">
          <span class="date"><%= current_article.date.strftime('%b %e, %Y') %></span> 
          tags: <% current_article.tags.each do |tag| %>
          <li><%= link_to tag, tag_path(tag) %></li>
        <% end %>
        </ul>
        <%= yield %>
      </article>
    </div>
    <%= partial "partials/blog/widgets" %>
  </div>
<% end %>
