<aside class="blog-widgets">
  <ul class="widget">
    <li><h5 class="heading">Recent</h5></li>
    <li>
      <ol>
        <% blog.articles[0...5].each do |article| %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      </ol>
    </li>
  </ul>

  <ul class="widget">
    <li><h5>View all</h5></li>
    <li>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articlesByYear| %>
          <li><%= link_to "#{year} (#{articlesByYear.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
    </li>
  </ul>

  <!--
  <ul class="widget">
    <li><h5>View by month</h5></li>
    <li>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articlesByYear| %>
          <li><%= year %></li>
          <ol>
            <% articlesByYear.group_by {|b| b.date.month }.each do |month, articles| %>
              <li><%= link_to "#{month_to_name(month)} (#{articles.size})", blog_month_path(year, month) %></li>
            <% end %>
          </ol>
        <% end %>
      </ol>
    </li>
  </ul>
  -->

  <ul class="widget">
    <li><h5 class="heading">Topics</h5></li>
    <li>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <%# <%= link_to "#{tag} (#{articles.size})", tag_path(tag), class: "tag" %>
          <%= link_to "#{tag}", tag_path(tag), class: "tag" %>
        <% end %>
      </ol>
    </li>
  </ul>

</aside>
