<nav>
  <ul>
    <li>
      <%= link_to "Home", "index.html", class: 'nav-link' %>
    </li>
    <li>
      <%= link_to "Portfolio", "#", class: 'nav-link' %>
    </li>
    <li>
      <%= link_to "Resume", "https://docs.google.com/document/d/1Ra4qSzt5JYJE25rt9srl_cXff_068EuwNYRkE8cxXBM/edit?usp=sharing",
        target: '_blank', class: 'nav-link' %>
    </li>
    <li>
      <%= link_to "About", "#", class: 'nav-link' %>
    </li>
    <li>
      <%= link_to "Blog", "blog/index.html", class: 'nav-link' %>
    </li>
  </ul>
</nav>
