<header>
  <div class="header-container">

    <h3 class="logo">
      <%= link_to "ColbyCheeZe", "/index.html" %>
    </h3>

    <nav class="js-menu sliding-panel-content">
      <ul>
        <li class=<%= "is-active" if page_classes.include? "blog" %>>
          <%= link_to "Blog", "/blog/index.html", class: 'nav-link' %>
        </li>
        <li class=<%= "is-active" if page_classes.include? "portfolio" %>>
          <%= link_to "Portfolio", "/portfolio.html", class: 'nav-link' %>
        </li>
        <li class=<%= "is-active" if page_classes.include? "resume" %>>
          <%= link_to "Resume", "https://docs.google.com/document/d/1Ra4qSzt5JYJE25rt9srl_cXff_068EuwNYRkE8cxXBM/edit?usp=sharing",
            target: '_blank', class: 'nav-link' %>
        </li>
        <li class=<%= "is-active" if page_classes.include? "about" %>>
          <%= link_to "About", "/about.html", class: 'nav-link' %>
        </li>
      </ul>
    </nav>

    <button type="button" class="js-menu-trigger sliding-panel-button">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
    </button>


  </div>
</header>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
