---
pageable: true
per_page: 10
---
<h1>Recent Articles</h1>
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <article>
      <h5><%= article.date.strftime('%b %e, %Y') %></h5>
      <h4><%= link_to article.title, article %></h4>
      <ul class="tags">
        Tags: <% article.tags.each do |tag| %>
        <li><%= link_to tag, tag_path(tag) %></li>
      <% end %>
      </ul>
      <p><%= article.data.post_summary %></p>
    </article>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
