---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each do |article| %>
    <article>
      <h3><%= link_to article.title, article %></h3>
      <ul class="meta">
        <span class="date"><%= article.date.strftime('%b %e, %Y') %></span>
         <em>tags</em>: <% article.tags.each do |tag| %>
        <li><%= link_to tag, tag_path(tag) %></li>
      <% end %>
      </ul>
      <p><%= article.summary %></p>
    </article>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
