<!doctype html>
<html>
  <head>
    <%= stylesheet_link_tag "all" %>
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Arvo|Open+Sans' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title><%= current_article.title + ' | 'unless current_article.nil? %>ColbyCheeZe</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <div class="wrapper">
      <%= partial "partials/nav" %>

      <section class="main-content" role="main">
        <%= yield %>
      </section>

      <%= partial "partials/footer" %>
    </div>

  </body>
</html>
