---
title: List of My Projects
layout: "portfolio"
---
<% data.projects.category.each do |category| %>
  <h4 class="line-behind"><%= category.name %></h4>
  <ul class="cards">

    <% category.project.each do |project| %>

      <li class="card">
        <a  href="<%= project.url %>">
          <div class="card-image">
            <%= image_tag project.image %>
          </div>
          <div class="card-header">
            <%= project.name %>
          </div>
          <div class="card-copy">
            <%= project.description %>
          </div>
        </a>
      </li>

    <% end %>
  </ul>
<% end %>
