---
title: List of My Projects
layout: "portfolio"
---

<h4 class="line-behind">Large Projects / Games</h4>

<ul class="cards">
  <li class="card">
    <div class="card-image">
      <img src="http://i.gyazo.com/9082655def65b163f4066fbbb9bfe0c7.png" />
    </div>
    <div class="card-header">
      <%= link_to "CheeZeWorld.com", "http://web.archive.org/web/20121105211113/http://cheezeworld.com/" %></div>
    <div class="card-copy">
      My original programming blog which was quite popular and had an active community following my open source projects.
    </div>
  </li>

  <li class="card">
    <div class="card-image">
      <img src="http://i.gyazo.com/99f4b5adaa462083b757a5b4eaf7ae85.gif" />
    </div>
    <div class="card-header">
      <%= link_to "Dance Dome", "http://www.mtv.com/games/arcade/game/play.jhtml?arcadeGameId=10158535", target: '_blank' %></div>
    <div class="card-copy">
      Dance Battle game commissioned by MTV for America's Best Dance Crew featuring a full 2D skeleton animation system
    </div>
  </li>

  <li class="card">
    <div class="card-image">
      <img src="http://i.gyazo.com/65a204d718b9372a65667468a053e350.gif" />
    </div>
    <div class="card-header">
      <%= link_to "Break Ball", "http://www.gimme5games.com/play-game/break-ball", target: '_blank' %>
    </div>
    <div class="card-copy">Challenge based game commissioned by Gimme5Games with fully featured level editor.</div>

  </li>

  <li class="card">
    <a  href="https://code.google.com/p/cheezeworld/">
    <div class="card-image">
      <%= image_tag "flocking_demo.gif" %>
    </div>
    <div class="card-header">
      Open Source Game Library
    </div>
    <div class="card-copy">
      A full game library with AI Flocking behavior, Fast Bitmap Caching, Keyframe animation, Screens, and more.
    </div>
    </a>
  </li>

</ul>

<h4 class="line-behind">Ruby on Rails</h4>

<ul class="cards">
  <li class="card">
    <div class="card-image">
      <%= image_tag "http://i.gyazo.com/481c724c9b4fbc5e5a6dc2ec86b9c03f.png" %>
    </div>
    <div class="card-header">
      <%= link_to "Twitter Clone", "https://github.com/colbycheeze/twitter-clone" %></div>
    <div class="card-copy">Twitter-like Clone using custom auth, TDD, and Bootstrap</div>
  </li>

  <li class="card">
    <div class="card-image">
      <img src="http://i.gyazo.com/87f3af30e9988e2c6ed4ea14323cbd9c.png" />
    </div>
    <div class="card-header">
      <%= link_to "Flight Booker", "https://github.com/colbycheeze/flight-booker 
      ", target: '_blank' %></div>
    <div class="card-copy">Complex forms app. Book flights based on chosen criteria.</div>
  </li>

  <li class="card">
    <div class="card-image">
      <img src="http://i.gyazo.com/51489b4092149bb209b10f7acb322e97.png" />
    </div>
    <div class="card-header">
      <%= link_to "Blogger", "https://github.com/colbycheeze/Rails-Blog", target: '_blank' %>
    </div>
    <div class="card-copy">Simple Blog with posts, comments, tagging, and image upload</div>

  </li>

</ul>

<h4 class="line-behind">Code Katas / Challenges</h4>

<ul class="cards">
  <li class="card">
    <div class="card-image">
      <%= image_tag "http://i.gyazo.com/86c1b8d67f8b8b97e1052882035a677d.png" %>
    </div>
    <div class="card-header">
      <%= link_to "Exercism.io", "https://github.com/colbycheeze/exercism_solutions" %></div>
    <div class="card-copy">Completed 20+ projects, mostly in Ruby and a few in Javascript.</div>
  </li>

  <li class="card">
    <div class="card-image">
      <img src="http://i.gyazo.com/54f34c2599e78ff66201efd082a4476b.png" />
    </div>
    <div class="card-header">
      <%= link_to "Test First Learning", "http://i.gyazo.com/54f34c2599e78ff66201efd082a4476b.png", target: '_blank' %></div>
    <div class="card-copy">Completed 10 TDD Ruby challenges</div>
  </li>

  <li class="card">
    <div class="card-image">
      <img src="http://i.gyazo.com/f7c13ecc0345d90a39fcb7c708fac4fd.png" />
    </div>
    <div class="card-header">
      <%= link_to "Project Euler", "https://github.com/colbycheeze/euler", target: '_blank' %>
    </div>
    <div class="card-copy">Completed projects 1-5 in Javascript and Ruby</div>

  </li>

</ul>

